model-3-to-beta.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bae061d377669d09",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Display vehicle count",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 80,
        "wires": []
    },
    {
        "id": "883dd86c3450da82",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "32.22",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://teslascope.com/teslapedia/software/2021.32.22",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "e6d53a01289fe06d"
            ]
        ]
    },
    {
        "id": "c1d3dc4e053149be",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Hourly 4am to 8pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 4-19 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "883dd86c3450da82",
                "a78a9d89bf933963"
            ]
        ]
    },
    {
        "id": "e6d53a01289fe06d",
        "type": "html",
        "z": "f6f2187d.f17ca8",
        "name": "Read page",
        "property": "payload",
        "outproperty": "payload",
        "tag": "*",
        "ret": "html",
        "as": "single",
        "x": 250,
        "y": 140,
        "wires": [
            [
                "e4c4f8701e84a4ea"
            ]
        ]
    },
    {
        "id": "e4c4f8701e84a4ea",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Get vehicle count",
        "rules": [
            {
                "t": "move",
                "p": "payload.76",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "adbbd7ece4252caf"
            ]
        ]
    },
    {
        "id": "adbbd7ece4252caf",
        "type": "split",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "881bb5d5dc4c89e3"
            ]
        ]
    },
    {
        "id": "881bb5d5dc4c89e3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "values > 0",
        "func": "msg.payload = Number(msg.payload);\nif (msg.payload > 0) {\nmsg.payload = String(msg.payload)+\" on 32.22\"\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 140,
        "wires": [
            [
                "07bd087f65cdfce8"
            ]
        ]
    },
    {
        "id": "07bd087f65cdfce8",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "show only changes",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 990,
        "y": 140,
        "wires": [
            [
                "bae061d377669d09"
            ]
        ]
    },
    {
        "id": "a78a9d89bf933963",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "36.5.3",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://teslascope.com/teslapedia/software/2021.36.5.3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "cfcfd743aad7ebcc"
            ]
        ]
    },
    {
        "id": "cfcfd743aad7ebcc",
        "type": "html",
        "z": "f6f2187d.f17ca8",
        "name": "Read page",
        "property": "payload",
        "outproperty": "payload",
        "tag": "*",
        "ret": "text",
        "as": "single",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "6da093083b3bfc4e"
            ]
        ]
    },
    {
        "id": "ecd9b60fdc51fbd5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "3LRAWD 32.22 to 36.5.3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 320,
        "wires": []
    },
    {
        "id": "6da093083b3bfc4e",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "all vehicles",
        "rules": [
            {
                "t": "move",
                "p": "payload.174",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "f06ddb1b6fcdc73b"
            ]
        ]
    },
    {
        "id": "f06ddb1b6fcdc73b",
        "type": "split",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "db3bae96d8b549f5"
            ]
        ]
    },
    {
        "id": "db3bae96d8b549f5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "trim",
        "func": "msg.payload = msg.payload.trim();\nif (msg.payload.length > 0) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 240,
        "wires": [
            [
                "d00fddd5b0a357ef"
            ]
        ]
    },
    {
        "id": "d00fddd5b0a357ef",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "arrayify",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 860,
        "y": 240,
        "wires": [
            [
                "940df42840ac9672"
            ]
        ]
    },
    {
        "id": "940df42840ac9672",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "32.22",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2021.32.22",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 240,
        "wires": [
            [
                "886c695bd15949a5"
            ]
        ]
    },
    {
        "id": "886c695bd15949a5",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "3 LR AWD",
        "property": "payload[1]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Model 3 AWD LR",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "ecd9b60fdc51fbd5"
            ]
        ]
    }
]
